.container{
  position: relative;
}
.caja{
width: 180px;
height: 180px;
background-color: #30B037;
color: #FFF;
text-align: center;
line-height: 180px;
margin: 15px;
float: left;
font-size: 18px;
font-family: Arial;
}

.caja1{
transition: transform 2s;
}

.caja1:hover {
  transform: scale(0.7);
}

.caja2{
background-color: #FBAE58;
transition: transform 2s;

}

.caja2:hover {
  transform: rotate(45deg);
}

.caja3{
background-color: #3FD4BC;
transition: transform 2s;
}

.caja3:hover{
  transform: skew(15deg, 15deg);
}

.caja4{
background-color: #74C7EE;
transition: transform 2s;
}

.caja4:hover{
  transform: skewX(35deg);
}

.caja5{
background-color: #FAAEC1;
transition: transform 2s;
}

.caja5:hover{
  transform: skewY(35deg);
}

.caja6{
background-color: #E14F74;
transition: transform 2s;
}

.caja6:hover{
  transform: translate(10px);
}

.caja7{
background-color: #ED9BF9;
transition: transform 2s;
}
.caja7:hover{
  transform: translateX(10px);
}
.caja8{
background-color: #95E3A2;
transition: transform 2s;
}
.caja8:hover{
  transform: translateY(10px);
}
.caja9{
background-color: #D6FF6F;
transition: transform 2s;
perspective: 400px;
}
.caja9:hover{
  perspective: 1000px;
  transform: rotateX(45deg);;
}
.caja10{
  background-color: #FF776F;
  perspective: 400px;
  transition: transform 2s;
  }
  .caja10:hover{
    transform: rotateY(45deg);
  }
.caja11{
background-color: #FF776F;
transition: transform 2s;
}
.caja11:hover{
  transform: matrix(0.7071067811865475, 0.7071067811865476, -0.7071067811865476, 0.7071067811865475, -0.7071067811865497, 34.648232278140824);
}