@media screen and (min-width: 768px) {
  body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-1-cat, .bgimg-2-cat {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bgimg-1 {
    background-image: url(https://www.10wallpaper.com/wallpaper/3840x2400/1801/Extreme_sport_Steep_Game_4K_3840x2400.jpg);
    min-height: 100%;
  }
  .bgimg-1-cat {
    background-image: url(https://www.10wallpaper.com/wallpaper/3840x2400/1801/Extreme_sport_Steep_Game_4K_3840x2400.jpg);
    min-height: 45%;
    width: 76em;
  }
  .bgimg-2 {
    background-image: url(https://i.pinimg.com/originals/66/3d/8e/663d8e71eaa372f9a192af84c9dc45d7.jpg);
    min-height: 400px;
  }
  .bgimg-2-cat {
    background-image: url(https://i.pinimg.com/originals/66/3d/8e/663d8e71eaa372f9a192af84c9dc45d7.jpg);
    min-height: 45%;
  }
  .bgimg-3 {
    background-image: url(https://img.redbull.com/images/c_crop,x_0,y_0,h_1200,w_1800/c_fill,w_1500,h_1000/q_auto,f_auto/redbullcom/2017/09/26/93eaa4ac-28f2-48f9-8f4d-9f26dc730e81/kai-lenny-paradigm-lost-film);
    min-height: 400px;
  }
  .bgimg-4 {
    background-image: url(https://i.pinimg.com/originals/d7/4e/0d/d74e0dfae159ca6d9c82f6a7b77f23da.jpg);
    min-height: 400px;
  }
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  .caption span.border {
    background-color: #000;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #000;
  }
  /* Turn off parallax scrolling for tablets and phones */
}

@media only screen and (min-width: 768px) and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-1-cat, .bgimg-2-cat {
    background-attachment: scroll;
  }
}

@media screen and (min-width: 768px) {
  a {
    text-decoration: initial;
    color: #000;
  }
  .box {
    margin-top: -3em;
    margin-bottom: -5em;
    color: #777;
    background-color: #fff;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
    height: 13em;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  h1 {
    text-align: center;
  }
  .rde {
    width: 3em;
    margin-left: 1em;
  }
}

@media screen and (min-width: 411px) and (max-width: 768px) {
  body, html {
    height: 131%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    width: 100%;
  }
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-1-cat, .bgimg-2-cat {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bgimg-1 {
    background-image: url(https://www.10wallpaper.com/wallpaper/3840x2400/1801/Extreme_sport_Steep_Game_4K_3840x2400.jpg);
    min-height: 39%;
  }
  .bgimg-2 {
    background-image: url(https://i.pinimg.com/originals/66/3d/8e/663d8e71eaa372f9a192af84c9dc45d7.jpg);
    min-height: 400px;
  }
  .bgimg-2-cat {
    background-image: url(https://i.pinimg.com/originals/66/3d/8e/663d8e71eaa372f9a192af84c9dc45d7.jpg);
    min-height: 45%;
  }
  .bgimg-3 {
    background-image: url(https://img.redbull.com/images/c_crop,x_0,y_0,h_1200,w_1800/c_fill,w_1500,h_1000/q_auto,f_auto/redbullcom/2017/09/26/93eaa4ac-28f2-48f9-8f4d-9f26dc730e81/kai-lenny-paradigm-lost-film);
    min-height: 400px;
  }
  .bgimg-4 {
    background-image: url(https://i.pinimg.com/originals/d7/4e/0d/d74e0dfae159ca6d9c82f6a7b77f23da.jpg);
    min-height: 400px;
  }
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  .caption span.border {
    background-color: #000;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #000;
  }
  /* Turn off parallax scrolling for tablets and phones */
}

@media only screen and (min-width: 411px) and (max-width: 768px) and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-1-cat, .bgimg-2-cat {
    background-attachment: scroll;
  }
}

@media screen and (min-width: 411px) and (max-width: 768px) {
  a {
    text-decoration: initial;
    color: #000;
  }
  .box {
    margin-top: -3em;
    margin-bottom: 5em;
    color: #777;
    background-color: #fff;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
    height: 13em;
  }
  .footer {
    display: none;
  }
  h1 {
    text-align: center;
  }
  .rde {
    width: 3em;
    margin-left: 1em;
  }
}
/*# sourceMappingURL=index.css.map */