body {
    background-color: lightgrey;
}
h1{
    text-align: center;
    font-family: sans-serif;
}

li > a{
    text-decoration: none;
    color: black;
}

ul {
    width: 49em;
}

li{
    display: inline;
    float: left;
    margin-left: 9em;
    margin-top: 3em;
}

a {
    position: relative;
}




ul li:nth-child(2)::before{
    margin-left: -1.5em;
    content: url("icon/angry-regular.svg");
    width: 20px;
    height:20px;
/*     left: 170px;
 */    position:absolute;
    
}


ul li:nth-child(3)::before{
    margin-left: 27em;
    content: url("icon/arrow-circle-right-solid.svg");
    width: 20px;
    height:20px;
    left: 170px;
    position:absolute;
}

ul li:nth-child(4)::before{
    content: url("icon/briefcase-solid.svg");
    width: 20px;
    height:20px;
    left: 170px;
    position:absolute;
}

ul li:nth-child(5){
    margin-left: 4em;
}
ul li:nth-child(6){
    margin-left: 12em;
}

ul li:nth-child(8){
    margin-left: 3.5em;
}

ul li:nth-child(5)::before{
    margin-left: 12em;
    content: url("icon/briefcase-medical-solid.svg");
    width: 20px;
    height:20px;
    left: 170px;
    position:absolute;
}

ul li:nth-child(6)::before{
    margin-left: 27em;
    content: url("icon/calendar-alt-regular.svg");
    width: 20px;
    height:20px;
    left: 170px;
    position:absolute;
}

ul li:nth-child(7)::before{
    content: url("icon/box-open-solid.svg");
    width: 20px;
    height:20px;
    left: 170px;
    position:absolute;
}

ul li:nth-child(8)::before{
    margin-left: 12em;
    content: url("icon/book-open-solid.svg");
    width: 20px;
    height:20px;
    left: 170px;
    position:absolute;
}








