h2:hover {
    color: tomato;
}

h2::first-letter{
    color: red;
}

li:nth-child(2n+1):hover:before{
    content: "Soy elemento impar";
}

li:nth-child(2n):hover:after{
    content: "Soy elemento par";
}

li:nth-child(3):hover{
    color: greenyellow;
}

